
<!DOCTYPE html>

<html>

<head>
	<title>Clustering</title>
	<link rel='stylesheet', href='static/clustering.css'>
</head>

<center>
	<h1 id=HomeHeader>User Segmentation and Clusterings</h1>
</center>

<body>This Page:</body>
<ul>
	<li>Generates user clusters based on specified number.</li>
	<li>Gives information about each cluster (% of customer base, top ingredients, etc)</li>
	<li>Display Silhoute Score of different number of clusters</li>
	<li>Shows hard breakdown of Meat, Vegetarian, Vegan eaters</li>
</ul>


<div id='controls'>
	<h2>Clustering:</h2>
	<label>Number of Clusters</label>
	<div>
		<input id="cluster_n" type="number" value="3">
		<button id='renderClusters'>Render Top Cluster Ingredients</button>
		<input id='cluster_table' type='text' readonly/>
	</div>
</div>

<ul><li><a href="/">Home</a></li></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="static/clustering.js"></script>


</html>