
<!DOCTYPE html>

<html>

<head>
	<title>Order Prediction</title>
	<link rel='stylesheet', href='static/probability.css'>
</head>

<center>
	<h1 id=HomeHeader>Customer Base Order Breakdown</h1>
</center>

<div id='controls'>
	<h2>This Page:</h2>
	<ul>
		<li>Compares created meals and outputs predicted percent of customer base that will order each meal.</li>
	</ul>

	<div>
		<button id='addMealCol'>Add Meal</button>
	</div>		
</div>

<div>
	<table id='meal_table' style="width:100%">
	<tr>
		<th>Meal 1</th>
	</tr>

	<tr>
		<td>
			<div class="dropdown">
				<button onclick="dropdwnFunc()" class="dropbtn" id="dropbtn">Add Ingredient</button>
				<div id="myDropdown" class="dropdown-content">
					<a href="#home">Home</a>
					<a href="#about">About</a>
					<a href="#contact">Contact</a>
				</div>
			</div>
		</td>
	</tr>

	<tr>
		<td>
				<div class="dropdown">
					<button onclick="dropdwnFunc()" class="dropbtn" id="dropbtn">Add Ingredient</button>
					<div id="myDropdown" class="dropdown-content">
						<a href="#home">Home</a>
						<a href="#about">About</a>
						<a href="#contact">Contact</a>
					</div>
				</div>
		</td>
	</tr>
	</table>
</div>

<ul><li><a href="/">Home</a></li></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="static/probability.js"></script>


</html>